@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.about {
    border: 2px solid red;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container {
        border: 2px solid yellow;
        width: 50%;
        height: 70%;
        margin: 0 auto;

        @include mobile {
            width: 90%;
        }
    }
}