@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.aboutSection {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: inset 0 60px 80px -60px rgba(0, 0, 0, 0.318), 0 -40px 50px -20px rgba(0, 0, 0, 0.332); 
    
    .bgImage {
        @include absolute-fill;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.06;
    }

    &__container {
        z-index: 10;
        width: 50%;
        margin: 0 auto;
        display: flex;
        gap: 15;

        @include mobile {
            width: 90%;
        }

        &__line {
            background-color: var(--color-primary);
            width: 7px;
            height: 90%;
            align-self: center;
        }

        &__paragraph {
            color: var(--color-text-primary);
            align-content: center;
        }
    }
}