@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.contactFormSection {
    width: 35%;
    //height: 500px;
    margin: 0 auto;
    border-radius: 16px;
    border: 2px solid green;
    @include flex-center;

    .container {
        width: 100%;
        height: 500px;
        padding: 10px;
        margin: 0 auto;
        border-radius: 16px;
        @include flex-center;
        border: 2px solid yellow;

        .contactFormCard {
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(8px);
            border: 1px solid rgba(255, 255, 255, 0.01);
            text-align: center;
            align-content: center;
            border: 2px solid red;

            .contactForm {
                padding: 10px;
                border: 2px solid yellow;

                .formGroup {
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 20;
                    border: 2px solid orange;

                    .formfullName, .formEmail, .formService, .formBudget {
                        text-align: left;
                        width: 44%;
                        display: flex;
                        flex-direction: column;
                        border: 2px solid yellow;
                    }
                }

                .formDescription {
                    width: 92%;
                    margin: 0px auto 20px auto;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        @include mobile {
            width: 90%;
            height: 65%;
        }
    }
}